@import url(/imagine/stylesheet.css);

canvas {
	-ms-touch-action: none;
}

form {
	display: inline;
}

body {
	background: #000000;
	color: #FFFFFF;
	margin-top: 10px;
}

a {
	color: #FFFFFF;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 7px solid;
	border-collapse: collapse;
}

td {
	border: 1px solid;
	border-collapse: collapse;
}

th {
	border: 5px solid;
}

h2 {
	font-family: 'imagine_fontregular', sans-serif;
	text-align: center;
	font-family: 'imagine_fontregular', sans-serif;
	margin: 2px 2px 10px 10px;
}

h1 {
	font-family: 'imagine_fontregular', sans-serif;
}

#the {
	color: #d0d0d0;
}

p {
	display: block;
	overflow: auto;
}

#howling {
	color: #a0a0a0;
}

#black {
	color: #404040;
}

.center {
	text-align: center;
}

.nounderline {
	text-decoration: none;
}

.leftbox {
	float: left;
	overflow: auto;
	width: 50%;
}

.rightbox {
	float: right;
	overflow: auto;
	width: 50%;
}

.container {
	position: relative;
	width: 100%;
}

.leftcolumn {
	float: left;
	overflow: auto;
	width: 20%;
}

.rightcolumn {
	float: right;
	overflow: auto;
	width: 80%;
	text-align: center;
}

.jsAction {
        cursor: pointer;
        text-decoration: underline;
    }
    
.red {
	color: #ff0000;
}    